@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

.leaflet-container {
  width: 100wh;
  height: 40vh;
}
